<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shsxt.crm.dao.CustomerServeDao">

    <sql id="CustomerServe_Columns">
        id,serveType,overview,customer,state,servicerequest,createPeople,assigner,assignTime,serviceProce,
        serviceProcePeople,serviceProceTime,serviceProceResult,myd,IsValid,UpdateDate,CreateDate
    </sql>

    <insert id="insert" parameterType="CustomerServe">
        insert into t_customer_serve (
          serveType,overview,customer,state,servicerequest,createPeople,assigner,assignTime,serviceProce,
          serviceProcePeople,serviceProceTime,serviceProceResult,myd,IsValid,UpdateDate,CreateDate
        ) values(
          #{serveType},#{overview},#{customer},#{state},#{serviceRequest},#{createPeople},#{assigner}, #{assignTime},
          #{serviceProce},#{serviceProcePeople},#{serviceProceTime},#{serviceProceResult},#{myd}, 1, now(), now()
        )
    </insert>

    <select id="selectForPage" resultType="CustomerServe" >
        select <include refid="CustomerServe_Columns"/> from t_customer_serve
        <where>
            isValid = 1
            <if test="@Ognl@isNotEmpty(customer)">
                and customer like '%${customer}%'
            </if>
            <if test="@Ognl@isNotEmpty(overview)">
                and overview like '%${overview}%'
            </if>
            <if test="@Ognl@isNotEmpty(serveType)">
                and serveType = #{serveType}
            </if>
            <if test="@Ognl@isNotEmpty(stateStr)">
                and state = #{stateStr}
            </if>
            <if test="@Ognl@isNotEmpty(createTimefrom)">
                and createDate &gt;= #{createTimefrom}
            </if>
            <if test="@Ognl@isNotEmpty(createTimeto)">
                and createDate &lt;= #{createTimeto}
            </if>
        </where>
    </select>

    <update id="update" parameterType="CustomerServe">
        update t_customer_serve
        <set>
            <if test="@Ognl@isNotEmpty(serveType)">
                serveType = #{serveType},
            </if>
            <if test="@Ognl@isNotEmpty(overview)">
                overview = #{overview},
            </if>
            <if test="@Ognl@isNotEmpty(customer)">
                customer = #{customer},
            </if>
            <if test="@Ognl@isNotEmpty(state)">
                state = #{state},
            </if>
            <if test="@Ognl@isNotEmpty(serviceRequest)">
                servicerequest = #{serviceRequest},
            </if>
            <if test="@Ognl@isNotEmpty(assigner)">
                assigner = #{assigner},
            </if>
            <if test="assignTime!=null ">
                assignTime = #{assignTime},
            </if>
            <if test="@Ognl@isNotEmpty(serviceProce)">
                serviceProce = #{serviceProce},
            </if>
            <if test="@Ognl@isNotEmpty(serviceProcePeople)">
                serviceProcePeople = #{serviceProcePeople},
            </if>
            <if test="@Ognl@isNotEmpty(serviceProceTime)">
                serviceProceTime = #{serviceProceTime},
            </if>
            <if test="@Ognl@isNotEmpty(serviceProceResult)">
                serviceProceResult = #{serviceProceResult},
            </if>
            <if test="@Ognl@isNotEmpty(myd) ">
                myd = #{myd},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>